div {
	background-color: #C1BABB;
	height: 100px;
	width: 100px;
	margin: 10px 8px;
	border: 2px solid #898385;
}

.padre {
	width: 375px;
	height: 130px;
}

.hijo {
	display: inline-block;
}

.DosCuadrados {
	display: inline-block;
}