* {
	margin: 0px;
	padding: 0px;
	width: 200px;
	height: 200px;
}

div.red {
	background-color: #EE3E64;
	position: absolute;
	left: 0px;
	top: 0px;
}

div.blue {
	background-color: #44ACCF;
	position: absolute;
	right: 0px;
	top: 0px;
}

div.green {
	background-color: #B7D84B;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

div.yellow {
	background-color: yellow;
	position: absolute;
	right: 0px;
	bottom: 0px;
}