* {
	margin: 0px;
	padding: 0px;
	width: 200px;
	height: 200px;
	position: static;
}

div.red {
	background-color: #EE3E64;
}

div.blue {
	background-color: #44ACCF;
}

div.green {
	background-color: #B7D84B;
}
