body {
	font-family: Times;
}

header {
	background-color: #FCCE09;
	height: 600px;
	color: white;
	padding-top: 25px;
}

li {
	list-style-type: none;
 	float: left;
 	margin-right: 20px;
 	display: inline-block;
}

a {
	text-decoration: none;
	color: white;
}

.sumate_button {
	background-color: #FCBA43;
	width: 100px;
	height: 50px;
	padding: 17px;
	margin-top: 20px;
}

.main_heading {
	text-align: center;
	margin-top: 160px;
}

section {
	background-color: #EAEAE9;
	height: 1150px;
	padding: 80px;
}

.section_boxes {
	background-color: white;
	height: 500px;
	padding: 15px;
	text-align: center;
	margin: 0 0 30px 50px;
}


h2 {
	color: #868683;
	text-align: left;
	margin: 5px 0px;
}

.p_boxes {
	color: #C0C0C6;
	text-align: left;
	margin-bottom: 10px;
}

.leemas_button {
	background-color: #FCBA43;
	color: white;
	width: 100px;
	padding: 5px;
	margin: auto;
}

footer {
	background-color: #262624;
	padding: 20px 50px 40px; 
	color: white;
	font-size: 14px;
}

.skype_num {
	color: #00aff0;
}
